@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
    background-image: url("/Final/images/Rectangular\ Tiles\ D.jpg");
    color: #2C1320;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-color: #2c1320;
    height: 75px;
    padding-top: 30px;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
}

.heading {
    color: #D9D0DC;
}

main {
    margin: 15px;
}

.roll {
    margin: 30% auto;
    display: block;
    padding: 10px 50px;
    background-color: #CED1DF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    border-color: #56667A;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #2c1320;
    width: 100%;
    padding-left: 10%;
    color: #D9D0DC;
}

#character, #charDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ced1dfa4;
    padding: 5px;
}

.editForm {
    grid-column: 1/3;
}

.editForm fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.editForm input {
    padding: 2px;
    margin-bottom: 10px;
}

.character, h2 {
    margin: 0 0 15px 0;
}

.character {
    padding-top: 4px;
}

h2 {
    font-size: larger;
    text-align: center;
}

#saveChar {
    display: none;
}

.charList {
    display: flex;
    background-color: #CED1DF;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: space-around;
    margin-bottom: 10px;
  }

.charList:hover {
    background-color: grey;
}

p {
    font-size: .9rem;
}

a {
    text-decoration: none;
    color: #2C1320;
}

.mainList {
    display: flex;
    background-color: #CED1DF;
    padding: 20px 10px;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 10px;
}

.charList span {
    color: #4b2036;
    font-style: italic;
}

